<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.richie.backstage.dao.CategoryMapper">

    <resultMap id="categoryResult" type="Category">
        <id property="catId" column="cat_id"/>
        <result property="sequence" column="sequence"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="createCategory">
        insert into category (name, sequence, user_id) values (#{category.name}, #{category.sequence}, #{category.user.userId})
    </insert>

    <update id="updateCategory">
        update category set name = #{category.name}, sequence = #{category.sequence} where cat_id = #{category.catId}
    </update>

    <delete id="deleteCategory" parameterType="int">
        delete from category where cat_id = #{cat_id}
    </delete>

    <select id="queryCategoryByPage" resultMap="categoryResult">
        select cat_id, name, sequence, date_format(created_at, '%Y-%m-%d %H:%m') as created_at
        from category
        where name like '%${name}%' and user_id = #{user_id}
        order by sequence desc
        limit #{page_size} offset #{page_index}
    </select>

    <select id="queryMaxSeq" parameterType="int" resultType="Integer">
        select max(sequence)
        from category
        where user_id = #{user_id}
    </select>

    <select id="queryCatCount" parameterType="int" resultType="int">
        select count(1)
        from category
        where user_id = #{user_id}
    </select>

    <select id="queryCatIdByName" parameterType="String" resultType="Integer">
        select cat_id from category
        where name = #{name}
        limit 1
    </select>

</mapper>