<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.richie.backstage.dao.MemberMapper">

    <resultMap id="memberResult" type="Member">
        <id property="memberId" column="member_id"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="credit" column="credit"/>
        <result property="cardNo" column="card_no"/>
        <result property="orderCount" column="order_count"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="createMember">
        insert into member (nickname, phone, gender, card_no, user_id)
        values (#{member.nickname}, #{member.phone}, #{member.gender}, #{member.cardNo}, #{member.user.userId})
    </insert>

    <update id="updateMember">
        update member set nickname = #{member.nickname}, phone = #{member.phone}, gender = #{member.gender}, card_no = #{member.cardNo}
        where member_id = #{member.memberId}
    </update>

    <delete id="deleteMember" parameterType="int">
        delete from member where member_id = #{member_id}
    </delete>

    <sql id="queryColumns">member_id, nickname, gender, phone, credit, order_count, card_no, date_format(created_at, '%Y-%m-%d %H:%m')</sql>

    <select id="queryMemberByPage" resultMap="memberResult">
        select
        <include refid="queryColumns"/>
        as created_at
        from member
        where nickname like '%${nickname}%' and user_id = #{user_id}
        limit #{page_size} offset #{page_index}
    </select>

    <select id="queryMemberById" resultMap="memberResult">
        select
        <include refid="queryColumns"/>
        as created_at
        from member
        where member_id = #{member_id}
        limit 1
    </select>

    <select id="queryMemberCount" parameterType="int" resultType="int">
        select count(1)
        from member
        where user_id = #{user_id}
        limit 1
    </select>

</mapper>