<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>商家管理后台</title>

    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商家后台管理系统</div>
        <div class="div_center"><h2 class="nav_title">世纪华联</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="goods_main.html">商品管理</a>
                </li>
                <li class="layui-nav-item layui-this layui-nav-itemed">
                    <a href="category_main.html">分类管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="member_main.html">会员管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="store_main.html">店铺设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <!-- 内容主体区域 -->
        <h1>分类管理</h1>
        <hr/>
        <div>
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline">
                    <input id='text_input_name' type="text" name="category_name" lay-verify="required"
                           autocomplete="off"
                           class="layui-input input_box" placeholder="请输入分类名称"/>
                </div>
                <div class="layui-input-inline" style="margin-left: 40px">
                    <button id="btn_query" class="layui-btn">查询</button>
                </div>
            </div>

            <button id="btn_delete" data-type="deleteCats" class="layui-btn">删除</button>
            <button id="btn_add" class="layui-btn">添加</button>

            <script type="text/html" id="category_operation">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>

            <table class="layui-hide" id="category" lay-filter="category_list"></table>

        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <div style="text-align: center">
            <a href="https://isuperqiang.github.io" target="_blank">© 落英坠露</a>
        </div>
    </div>
</div>

<script>
    var name = $.cookie('store-name');
    $('.nav_title').text(name);

    layui.use('layer');

    layui.use('table', function () {
        var table = layui.table;

        var $ = layui.$, active = {
            deleteCats: function () { //获取选中数据
                var checkStatus = table.checkStatus('render_cats')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg('请选择分类');
                } else {
                    layer.confirm('确定删除这些分类？', function () {
                        var da = JSON.stringify(data);
                        console.log('da' + da);
                        $.ajax({
                            type: "post",
                            url: "/category/delete_bundle",
                            async: true, // 异步处理
                            dataType: "json", // 预期的服务器响应的数据类型。
                            data: da, // 	规定要发送到服务器的数据
                            contentType: 'application/json',
                            success: function () {
                                layer.msg('删除成功', {icon: 6});
                                table.reload('render_cats', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            },
                            error: function () {
                                layer.msg('请求失败', {icon: 5})
                            }
                        });
                    });
                }
            }
        };

        $('#btn_delete').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(category_list)', function (obj) {
            var data = obj.data;
            console.log('click:' + data.username + data.city);
            if (obj.event === 'del') {
                var d = {'catId': data.catId};
                layer.confirm('确定删除该分类？', function (index) {
                    $.ajax({
                        type: "post",
                        url: "/category/delete",
                        async: true, // 异步处理
                        dataType: "json", // 预期的服务器响应的数据类型。
                        data: JSON.stringify(d), // 	规定要发送到服务器的数据
                        contentType: 'application/json',
                        success: function (result) {
                            console.log('delete succeed: ' + result);
                            if (result.status == 1) {
                                layer.msg('删除成功', {icon: 6});
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.msg(result.errorCode.message, {icon: 5})
                            }
                        },
                        error: function () {
                            layer.msg('请求失败', {icon: 5})
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                // prompt层
                layer.prompt({title: '输入分类名称，并确认', formType: 2}, function (text, index) {
                    layer.close(index);
                    layer.msg('您最后写下了：' + text);
                    // refresh
                    var cat = {'catId': data.catId, 'name': text, 'sequence': data.sequence};
                    $.ajax({
                        type: "post",
                        url: "/category/update",
                        async: true, // 异步处理
                        dataType: "json", // 预期的服务器响应的数据类型。
                        data: JSON.stringify(cat), // 	规定要发送到服务器的数据
                        contentType: 'application/json',
                        success: function (result) {
                            console.log('edit succeed: ' + result);
                            if (result.status == 1) {
                                layer.msg('修改成功', {icon: 6});
                                obj.update({
                                    'name': text
                                });
                            } else {
                                layer.msg(result.errorCode.message, {icon: 5})
                            }
                        },
                        error: function () {
                            layer.msg('请求失败', {icon: 5})
                        }
                    });
                });
            }
        });

        table.render({
            elem: '#category'
            , url: '/category/query'
            , cellMinWidth: 80
            , method: 'post'
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'catId', title: 'ID', width: 100, unresize: true, sort: true}
                    , {field: 'name', title: '名称'}
                    , {field: 'createdAt', title: '创建时间', width: 200}
                    , {field: 'sequence', title: '序号', width: 200}
                    , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#category_operation'},
                ]]
            , response: {
                dataName: 'list',
                countName: 'count',
                statusCode: '1',
                statusName: 'status'
            }
            , request: {
                pageName: 'page_index',
                limitName: 'page_size'
            }
            , page: true
            , id: 'render_cats'
        });

        // 查询按钮
        $('#btn_query').on('click', function () {
            console.log('click query button');
            var text = $('#text_input_name').val();
            table.reload('render_cats', {
                where: {
                    'name': text
                }
                , page: {
                    curr: 1
                }
            });
        });

        // 添加按钮
        $('#btn_add').on('click', function () {
            console.log('click add button');
            //prompt层
            layer.prompt({title: '输入分类名称，并确认', formType: 2}, function (text, index) {
                layer.close(index);
                var cat = {'name': text};
                $.ajax({
                    type: "post",
                    url: "/category/create",
                    async: true, // 异步处理
                    dataType: "json", // 预期的服务器响应的数据类型。
                    data: JSON.stringify(cat), // 	规定要发送到服务器的数据
                    contentType: 'application/json',
                    success: function (result) {
                        console.log('query succeed: ' + result);
                        if (result.status == 1) {
                            layer.msg('添加成功', {icon: 6});
                            table.reload('render_cats', {
                                page: {
                                    curr: 1
                                }
                            });
                        } else {
                            layer.msg(result.errorCode.message, {icon: 5})
                        }
                    },
                    error: function () {
                        layer.msg('请求失败', {icon: 5})
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    });

    function logout() {
        layer.confirm('确定退出登录？', function () {
            $.ajax({
                type: "post",
                url: "/user/logout",
                async: true, // 异步处理
                dataType: "json", // 预期的服务器响应的数据类型。
                data: JSON.stringify('{}'), // 	规定要发送到服务器的数据
                contentType: 'application/json',
                success: function (result) {
                    console.log('logout succeed: ' + result);
                    if (result.status == 1) {
                        location.href = '/login.html';
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('请求失败', {icon: 5})
                }
            });
        });
    }
</script>

</body>
</html>

