<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/login.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-bg-gray layui-layout-body">

<div class="div_center" style="padding-top: 160px">
    <h1 class="content_center">商家管理后台</h1>

    <p class="content_center" style="margin-top: 18px; font-size: 14px">方便、可靠、高效的商家管理系统</p>
</div>
<div class="div_center" style="margin-top: 20px;width: 300px;">
    <form id="login_form" class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input name="phone" class="layui-input form_input" value="15812344321" type="text"
                       placeholder="手机号"
                       autocomplete="off" required='required' lay-verify="phone"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input id="password" name="password" class="layui-input form_input" value="123456" type="password"
                       placeholder="密码"
                       autocomplete="off" required='required' lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <input id="check_box" type="checkbox" name="remember" lay-filter='rem_pass' checked='checked'
                   lay-skin="primary" title="记住密码"/>
            <a href="#" class="layadmin-link action_sub_button">忘记密码</a>
        </div>
        <div class="layui-form-item ">
            <div class="layui-input-inline ">
                <button class="layui-btn action_button " lay-submit='' lay-filter="login_form_button">登录</button>
            </div>
        </div>
        <div class="layui-form-item">
            <a href="register.html" class="layadmin-link action_sub_button">注册账号</a>
        </div>
    </form>

</div>

<script>
    // 提交表单
    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(login_form_button)', function (data) {
            var dataLogin = JSON.stringify(data.field);
            console.log(dataLogin);//当前容器的全部表单字段，名值对形式：{name: value}

            $.ajax({
                type: "post",
                url: "/user/login",
                async: true, // 异步处理
                dataType: "json", // 预期的服务器响应的数据类型。
                data: dataLogin, // 	规定要发送到服务器的数据
                contentType: 'application/json',
                success: function (result) {
                    console.log('login succeed: ' + result);
                    if (result.status == 1) {
                        if ($('#check_box').attr('checked')) {
                            $.cookie('password', $('#password').val(), {expires: 3600 * 24, path: '/'});
                        } else {
                            $.cookie('password', null, {expires: 0, path: '/'});
                        }
                        layer.msg('登录成功', {icon: 6}, function () {
                            // 跳转
                            location.href = '/goods_main.html';
                        })
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('请求失败', {icon: 5})
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        form.on('checkbox(rem_pass)', function (data) {
            console.log(data.elem.checked);//是否被选中，true或者false
            if (data.elem.checked) {
                $.cookie('password', $('#password').val(), {expires: 3600 * 24, path: '/'});
            } else {
                $.cookie('password', null, {expires: 0, path: '/'});
            }
        });
    });
</script>

</body>
</html>