<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>商家管理后台</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商家后台管理系统</div>
        <div class="div_center"><h2 class="nav_title" th:text="${store.name}">世纪华联</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="goods_main.html">商品管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="category_main.html">分类管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="member_main.html">会员管理</a>
                </li>
                <li class="layui-nav-item layui-this layui-nav-itemed">
                    <a href="store_main.html">店铺设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <!-- 内容主体区域 -->
        <h1>店铺信息</h1>
        <hr/>
        <div>
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">店铺 Logo</label>
                <img class="upload-img" id="store_img" src="../static/img/user_profile.png" th:src="${store.logo}"/>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">店铺名称</label>
                <label class="layui-form-label show-info" th:text="${store.name}">世纪华联超市</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <label class="layui-form-label show-info" th:text="${store.phone}">15868825645</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">创建时间</label>
                <label class="layui-form-label show-info"
                       th:text="${store.createdAt}">2018-06-27</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">人均价格</label>
                <label class="layui-form-label show-info" th:text="${store.avgPrice + '&nbsp;元'}">100&nbsp;元</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">类目</label>
                <label class="layui-form-label show-info" th:text="${store.category}">大型超市</label>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">营业时间</label>
                    <label class="layui-form-label show-info"
                           th:text="${store.saleFrom + '&nbsp;-&nbsp;' + store.saleTo}">8:00-20:00</label>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <label class="layui-form-label show-info" th:text="${store.address}">杭州市西湖区紫金花路 30 号</label>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介</label>
                <label class="layui-form-label show-info" th:text="${store.description}">欢迎来到世纪联华，祝您购物愉快，么么哒～</label>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" href="store_edit.html" style="color: #fff;">编辑</a>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <div style="text-align: center">
            <a href="https://isuperqiang.github.io" target="_blank">© 落英坠露</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    layui.use('layer');

    function logout() {
        layer.confirm('确定退出登录？', function () {
            $.ajax({
                type: "post",
                url: "/user/logout",
                async: true, // 异步处理
                dataType: "json", // 预期的服务器响应的数据类型。
                data: JSON.stringify('{}'), // 	规定要发送到服务器的数据
                contentType: 'application/json',
                success: function (result) {
                    console.log('logout succeed: ' + result);
                    if (result.status == 1) {
                        location.href = '/login.html';
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('请求失败', {icon: 5})
                }
            });
        });
    }
</script>
</body>
</html>

