<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>商家管理后台</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商家后台管理系统</div>
        <div class="div_center"><h2 class="nav_title">世纪华联</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item" lay-filter="nav_goods_manage">
                    <a href="goods_main.html">商品管理</a>
                </li>
                <li class="layui-nav-item" lay-filter="nav_category_manage">
                    <a href="category_main.html">分类管理</a>
                </li>
                <li class="layui-nav-item layui-this layui-nav-itemed">
                    <a href="store_main.html" lay-filter="nav_store_manage">店铺设置</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" lay-filter="nav_member_manage">会员管理</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <!-- 内容主体区域 -->
        <h1>店铺信息</h1>
        <hr/>
        <div>
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">店铺 Logo</label>
                <img class="upload-img" id="store_img" src="../static/img/user_profile.png" th:src="${store.logo}"/>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">店铺名称</label>
                <label class="layui-form-label show-info" th:text="${store.name}">世纪华联超市</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <label class="layui-form-label show-info" th:text="${store.phone}">15868825645</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">创建时间</label>
                <label class="layui-form-label show-info"
                       th:text="${#dates.format(store.createdAt, 'yyyy-MM-dd HH:mm')}">2018-06-27</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">人均价格</label>
                <label class="layui-form-label show-info" th:text="${store.avgPrice + '&nbsp;元'}">100&nbsp;元</label>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">类目</label>
                <label class="layui-form-label show-info" th:text="${store.category}">大型超市</label>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">营业时间</label>
                    <label class="layui-form-label show-info"
                           th:text="${store.saleFrom + '&nbsp;-&nbsp;' + store.saleTo}">8:00-20:00</label>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <label class="layui-form-label show-info" th:text="${store.address}">杭州市西湖区紫金花路 30 号</label>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介</label>
                <label class="layui-form-label show-info" th:text="${store.description}">欢迎来到世纪联华，祝您购物愉快，么么哒～</label>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" href="store_edit.html" style="color: #fff;">编辑</a>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <div style="text-align: center">
            <a href="https://isuperqiang.github.io" target="_blank">© 落英坠露</a>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</body>
</html>

